* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lora', Courier, monospace;
}

body {
    background-image: url(../img/Criptomonedas-en-2021.jpg
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main {
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor_todo {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja_fondo {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(246, 244, 246, 0.941);
}

.caja_fondo div {
    margin: 100px 40px;
    color: #dd90ba;
    transition: all 500ms;
}

.caja_fondo div p,
.caja_fondo div button {
    margin-top: 30px;
}

.caja_fondo div h3 {
    font-weight: 400;
    font-size: 26px;
}

.caja_fondo button {
    padding: 10px 40px;
    border: 2px solid #ffffff;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff;
    outline: none;
    transition: all 300ms;
}

.caja_fondo button:hover {
    background-color: #ffffff;
    color: rgb(201, 28, 187);
}

.contenedor_ingreso_registro {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor_ingreso_registro form {
    width: 100%;
    padding: 80px 20px;
    background: #ffffff;
    position: absolute;
    border-radius: 20px;
}

.contenedor_ingreso_registro form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: blueviolet;
}

.contenedor_ingreso_registro form input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #f2f2f2;
    font-size: 16px;
    outline: none;
}

.contenedor_ingreso_registro form button {
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background-color: rgb(201, 28, 187);
    color: #f2f2f2;
    cursor: pointer;
    outline: none;
}

.formulario_ingreso {
    opacity: 1;
    display: block;
}

.formulario_registro {
    display: none;
}

@media screen and (max-width: 850px) {
    main {
        margin-top: 50px;
    }
    .caja_fondo {
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }
    .caja_fondo div {
        margin: 0;
        position: absolute;
    }
    .contenedor_ingreso_registro {
        top: -10px;
        left: -5px;
        margin: auto;
    }
    .contenedor_ingreso_registro form {
        position: relative;
    }
}